<div class="container">
  <div class="row">
    <div class="col">
      <h1>Melinda Evans YouWork Investment</h1>
      <h2>Period <%= (Date.today - 1.month).strftime("%B") %> <%= (Date.today - 1.month).year %></h2>
      <h3>Growth</h3>
      <%= image_tag 'sales-and-marketing.png', height: 400 %>
      <h3>Achievements</h3>
      <%= image_tag 'tracking.png', height: 400 %>
    </div>
  </div>
</div>
