<div class="container">
  <div class="row">
    <div class="col">
      <h1>YouWork - Investment Summary</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Period <%= (Date.today - 1.month).strftime("%B") %> <%= (Date.today - 1.month).year %></h2>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col">
      <h3>Growth</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <%= image_tag 'sales-and-marketing.png', height: 400 %>
      <h3>Achievements</h3>
      <%= image_tag 'tracking.png', height: 400 %>
    </div>
  </div>

  <h1>WIP!!!!</h1>

  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <tr>
          <th>Month</th>
          <th>Revenue</th>
          <th>Quickbooks (Expenses)</th>
          <th>Slack Messages</th>
          <th>Facebook</th>
          <th>Twitter</th>
          <th>Instagram</th>
          <th>HR Reviews</th>
          <th>Pipeline Leads</th>
          <th>Sales Completed</th>
          <th>Issues Reported</th>
          <th>Resolve Time (Average Days)</th>
        </tr>
        <tr>
          <td>1/30/18</td>
          <td>$10,000.00</td>
          <td>$3,000.00</td>
          <td>1000</td>
          <td>100</td>
          <td>100</td>
          <td>50</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>2/28/18</td>
          <td>$15,000.00</td>
          <td>$6,300.00</td>
          <td>1100</td>
          <td>300</td>
          <td>300</td>
          <td>50</td>
          <td>0</td>
          <td>2</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>3/31/18</td>
          <td>$35,000.00</td>
          <td>$6,930.00</td>
          <td>1210</td>
          <td>500</td>
          <td>500</td>
          <td>65</td>
          <td>0</td>
          <td>3</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>4/30/18</td>
          <td>$20,000.00</td>
          <td>$7,623.00</td>
          <td>1331</td>
          <td>700</td>
          <td>700</td>
          <td>65</td>
          <td>0</td>
          <td>5</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>5/31/18</td>
          <td>$45,000.00</td>
          <td>$8,385.30</td>
          <td>1464</td>
          <td>900</td>
          <td>900</td>
          <td>65</td>
          <td>0</td>
          <td>5</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>6/30/18</td>
          <td>$55,000.00</td>
          <td>$9,223.83</td>
          <td>1611</td>
          <td>1100</td>
          <td>1100</td>
          <td>70</td>
          <td>0</td>
          <td>5</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>7/31/18</td>
          <td>$65,000.00</td>
          <td>$10,146.21</td>
          <td>1772</td>
          <td>1300</td>
          <td>1300</td>
          <td>70</td>
          <td>0</td>
          <td>10</td>
          <td>3</td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>8/31/18</td>
          <td>$70,000.00</td>
          <td>$11,160.83</td>
          <td>1949</td>
          <td>1500</td>
          <td>1500</td>
          <td>220</td>
          <td>2</td>
          <td>12</td>
          <td>6</td>
          <td>2</td>
          <td>1</td>
        </tr>
        <tr>
          <td>9/30/18</td>
          <td>$75,000.00</td>
          <td>$12,276.92</td>
          <td>2144</td>
          <td>1700</td>
          <td>1700</td>
          <td>370</td>
          <td>4</td>
          <td>19</td>
          <td>7</td>
          <td>0</td>
          <td>1</td>
        </tr>
        <tr>
          <td>10/31/18</td>
          <td>$80,000.00</td>
          <td>$13,504.61</td>
          <td>2358</td>
          <td>1900</td>
          <td>1900</td>
          <td>520</td>
          <td>6</td>
          <td>26</td>
          <td>10</td>
          <td>5</td>
          <td>3</td>
        </tr>
        <tr>
          <td>11/30/18</td>
          <td>$85,000.00</td>
          <td>$14,855.07</td>
          <td>2594</td>
          <td>2100</td>
          <td>2100</td>
          <td>670</td>
          <td>8</td>
          <td>33</td>
          <td>15</td>
          <td>6</td>
          <td>3</td>
        </tr>
        <tr>
          <td>12/31/18</td>
          <td>$90,000.00</td>
          <td>$16,340.58</td>
          <td>2853</td>
          <td>2300</td>
          <td>2300</td>
          <td>1170</td>
          <td>10</td>
          <td>40</td>
          <td>19</td>
          <td>5</td>
          <td>5</td>
        </tr>
        <tr>
          <td>1/31/19</td>
          <td>$95,000.00</td>
          <td>$17,974.64</td>
          <td>3138</td>
          <td>2500</td>
          <td>2500</td>
          <td>1670</td>
          <td>12</td>
          <td>47</td>
          <td>23</td>
          <td>7</td>
          <td>3</td>
        </tr>
        <tr>
          <td>2/28/19</td>
          <td>$100,000.00</td>
          <td>$19,772.10</td>
          <td>3452</td>
          <td>2700</td>
          <td>2700</td>
          <td>2170</td>
          <td>14</td>
          <td>54</td>
          <td>27</td>
          <td>12</td>
          <td>3</td>
        </tr>
        <tr>
          <td>3/31/19</td>
          <td>$105,000.00</td>
          <td>$21,749.31</td>
          <td>3797</td>
          <td>2900</td>
          <td>2900</td>
          <td>2670</td>
          <td>16</td>
          <td>61</td>
          <td>31</td>
          <td>10</td>
          <td>2</td>
        </tr>
        <tr>
          <td>4/30/19</td>
          <td>$110,000.00</td>
          <td>$23,924.24</td>
          <td>4177</td>
          <td>3100</td>
          <td>3100</td>
          <td>3170</td>
          <td>18</td>
          <td>68</td>
          <td>35</td>
          <td>15</td>
          <td>5</td>
        </tr>
      </table>
    </div>
  </div>
</div>
