<div class="container">
  <div class="row">
    <div class="col">
      <h1>ApexInvestors</h1>
      <h5>Monthly Tech Report</h5>
      <h3>Melinda Evans</h3>
      <h3>Fund V</h3>
      <%= image_tag 'allocation.png', height: 200 %>
      <h3>YouWork</h3>
      <%= image_tag 'sales-and-marketing.png', height: 400 %>
    </div>
  </div>
</div>
