<div class="container">
  <div class="row pt-5">
    <div class="col">
      <h1 class="text-center">Mosa</h1>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col">
      <h1 class="container text-center">Transparency = Efficiency + Trust</h1>
    </div>
  </div>
  <div class="row text-justify pt-5 justify-content-center">
    <div class="col-8">
      <h4>Investors:</h4>
      <p class="introduction-text">
        VC’s and Angel Investors are looking for great founders, teams, products and fit. However, with little time for
        due diligence on deal flow there are many missed opportunities. On top of that, tracking portfolio companies is
        a
        complex and time consuming task.
      </p>
    </div>
  </div>
  <div class="row text-justify pt-5 justify-content-center">
    <div class="col-8">
      <h4>Founders:</h4>
      <p class="introduction-text">
        On the other hand, founders have limited time and resources to provide transparency across their organization.
        There are a multitude of metrics, analyses, and reports founders can create or access, but taking the time to
        curate
        these is laborious and often leads to out of date and inaccurate data being distributed. In addition,
        maintaining
        these once created is extremely time consuming.
      </p>
    </div>
  </div>
  <div class="row text-justify pt-5 justify-content-center">
    <div class="col-8">
      <h4>What we do:</h4>
      <p class="introduction-text">
        Mosa is a platform that allows operators and investors to access technical and business diligence and reporting
        in
        real time.
        <br/>
        Creating this transparency saves everyone time, derisks involvement in deals, and maximizes the impact a key
        advisor, board member or investor can have.
      </p>
    </div>
  </div>
  <div class="row pt-4 justify-content-center">
    <div class="col-2">
      <button type="button" class="btn btn-outline-primary">
        <%= link_to 'For Founders', dashboard_index_path %>
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-primary">
        <%= link_to 'For Investors', portfolio_index_path %>
      </button>
    </div>
  </div>
</div>
