<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Mosa</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center">Transparency is a key factor in success</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="container text-center">Transparency = Efficiency + Trust</h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <button type="button" class="btn btn-outline-primary">
        <%= link_to 'View My Dashboard', dashboard_index_path %>
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-outline-primary">
        <%= link_to 'View My Portfolio', portfolio_index_path %>
      </button>
    </div>
  </div>
</div>
