<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1 class="text-center">MOSA</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h1 class="container text-center">Transparency = Efficiency and Trust</h1>
    </div>
  </div>
  <div class="row text-justify mt-5 justify-content-center">
    <div class="col-8">
      <h4>What we do:</h4>
      <p class="introduction-text">
        Mosa is a platform that allows founders and investors to access technical and business diligence and reporting in real time.
        <br/><br/>
        Creating this transparency saves everyone time, derisks investments, accelerates growth and maximizes the impact an advisor, board member or investor can have.
      </p>
    </div>
  </div>
  <div class="row text-justify mt-4 justify-content-center">
    <div class="col-8">
      <h4>Investors:</h4>
      <p class="introduction-text">
        Investors are always on the hunt for the next great startup. However, with little time for due diligence on the deal flow there are many missed opportunities.
        <br/><br/>
        In addition to diligence, holistic monitoring of portfolio companies is a complex and time consuming task.
      </p>
    </div>
  </div>
  <div class="row text-justify mt-4 justify-content-center">
    <div class="col-8">
      <h4>Founders:</h4>
      <p class="introduction-text">
        Founders have limited time and resources to provide transparency across their organization (to employees and investors alike).
        There are a multitude of metrics, analyses, and reports founders can create or access, but taking the time to create these is laborious.
        Maintaining these reports is difficult and often leads to out of date and inaccurate data being distributed.
      </p>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-2">
      <button type="button" class="btn btn-outline-primary">
        <%= link_to 'For Founders', dashboard_index_path %>
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-primary">
        <%= link_to 'For Investors', portfolio_index_path %>
      </button>
    </div>
  </div>
</div>
